# Курсовая работа № 2
## Аналитика. Начальный уровень

## Часть первая


Перед вами стоит задача – подготовить аналитический отчет для HR-отдела. На основании проведенной аналитики предполагается составить рекомендации для отдела кадров по стратегии набора персонала, а также по взаимодействию с уже имеющимися сотрудниками.
<br><br> В базе данных лежит набор таблиц, которые содержат данные о сотрудниках вымышленной компании.
Сделайте обзор штата сотрудников компании. Составьте набор предметов исследования, а затем проверьте их на данных. Вся аналитика должна быть выполена с помощью SQL. Впоследствии данные можно визуализировать, однако финальные датафреймы для графиков также должны быть подготовлены с помощью SQL. <br><br>

Примеры гипотез:
1. Есть зависимость между `perfomance score` и тем, под чьим руководством работает сотрудник.
2. Есть зависимость между продолжительностью работы в компании и семейным положением сотрудника.
2. Есть зависимость между продолжительностью работы в компании и возрастом сотрудника.

<br><br>
Параметры для подключения следующие: хост – `dsstudents.skillbox.ru`, порт – `5432`, имя базы данных – `human_resources`, пользователь – `readonly`, пароль – `6hajV34RTQfmxhS`. Таблицы, доступные для анализа, – `hr_dataset`, `production_staff`, `recruiting_costs`, `salary_grid`.

# Выполним соединение с базой данных:

In [1]:
import psycopg2

import sqlalchemy

import pandas as pd

conn = 'postgresql+psycopg2://readonly:6hajV34RTQfmxhS@dsstudents.skillbox.ru:5432/human_resources'

# Создадим новый экземпляр класса : sqlalchemy.engine.Engine, который предоставляет подключение к базе данных:

engine = sqlalchemy.create_engine(conn)

# Гипотеза 1: 
## Есть зависимость между "Performance Score" и тем, под чьим руководством работает сотрудник.

In [38]:
# Произведём группировку таблицы "production_staff" по "Manager Name" и "Performance Score" 
# с подсчётом количества строк и запишем полученные данные во временную таблицу:

engine.execute(""" DROP TABLE IF EXISTS Dependence_Performance_Score_on_Manager; """)

engine.execute(""" CREATE TEMPORARY TABLE Dependence_Performance_Score_on_Manager 
                AS SELECT "Manager Name", "Performance Score", COUNT(*) AS "Count of Employee" 
                FROM production_staff 
                GROUP BY "Manager Name", "Performance Score" 
                ORDER BY "Manager Name", "Performance Score"; """)

# Заменим тип столбца "Count of Employee" на FLOAT:

engine.execute(""" ALTER TABLE Dependence_Performance_Score_on_Manager ALTER COLUMN "Count of Employee" TYPE FLOAT(6); """)

# Создадим новую временную таблицу для вычисления общего количества работников для каждого менеджера:

engine.execute(""" DROP TABLE IF EXISTS Dependence_Performance_Score_on_Manager_2; """)

engine.execute(""" CREATE TEMPORARY TABLE Dependence_Performance_Score_on_Manager_2
                AS SELECT "Manager Name", SUM("Count of Employee") AS "Total Count of Employee of Manager"
                FROM Dependence_Performance_Score_on_Manager
                GROUP BY "Manager Name"
                ORDER BY "Manager Name"; """)

# Произведём объединение таблиц и запишем данные в новую временную таблицу:

engine.execute(""" DROP TABLE IF EXISTS Dependence_Performance_Score_on_Manager_3; """)

engine.execute(""" CREATE TEMPORARY TABLE Dependence_Performance_Score_on_Manager_3
                AS SELECT Dependence_Performance_Score_on_Manager."Manager Name",
                Dependence_Performance_Score_on_Manager."Performance Score",
                Dependence_Performance_Score_on_Manager."Count of Employee",
                Dependence_Performance_Score_on_Manager_2."Total Count of Employee of Manager"
                FROM Dependence_Performance_Score_on_Manager JOIN Dependence_Performance_Score_on_Manager_2 
                ON Dependence_Performance_Score_on_Manager."Manager Name" 
                = Dependence_Performance_Score_on_Manager_2."Manager Name"; """)

# Вычислим отношение количества работников из каждой категории "Performance Score"
# к общему количеству работников для каждого менеджера и запишем данные в новую временную таблицу:

engine.execute(""" DROP TABLE IF EXISTS Dependence_Performance_Score_on_Manager_4; """)

engine.execute(""" CREATE TEMPORARY TABLE Dependence_Performance_Score_on_Manager_4
                AS SELECT "Manager Name", 
                "Performance Score", 
                "Count of Employee", 
                "Total Count of Employee of Manager", 
                ROUND("Count of Employee"/"Total Count of Employee of Manager"*100) AS "Persent of Employee for every Score" 
                FROM Dependence_Performance_Score_on_Manager_3
                ORDER BY "Manager Name", "Performance Score"; """)

# Создадим новый датафрейм на основе данных из базы данных:

connect = engine.connect()

df1 = pd.read_sql('select * from Dependence_Performance_Score_on_Manager_4', connect)

connect.close()

## Зависимость между "Performance Score" и тем, под чьим руководством работает сотрудник:

In [39]:
df1

,Manager Name,Performance Score,Count of Employee,Total Count of Employee of Manager,Persent of Employee for every Score
0,Amy Dunn,90-day meets,1.0,21.0,5.0
1,Amy Dunn,Exceeds,2.0,21.0,10.0
2,Amy Dunn,Exceptional,1.0,21.0,5.0
3,Amy Dunn,Fully Meets,11.0,21.0,52.0
4,Amy Dunn,N/A- too early to review,5.0,21.0,24.0
5,Amy Dunn,PIP,1.0,21.0,5.0
6,Brannon Miller,90-day meets,1.0,21.0,5.0
7,Brannon Miller,Exceeds,5.0,21.0,24.0
8,Brannon Miller,Exceptional,2.0,21.0,10.0
9,Brannon Miller,Fully Meets,8.0,21.0,38.0
10,Brannon Miller,Needs Improvement,1.0,21.0,5.0
11,Brannon Miller,PIP,4.0,21.0,19.0
12,David Stanley,90-day meets,1.0,21.0,5.0
13,David Stanley,Exceeds,1.0,21.0,5.0
14,David Stanley,Fully Meets,15.0,21.0,71.0
15,David Stanley,N/A- too early to review,4.0,21.0,19.0
16,Elijiah Gray,90-day meets,3.0,23.0,13.0
17,Elijiah Gray,Exceeds,2.0,23.0,9.0
18,Elijiah Gray,Fully Meets,14.0,23.0,61.0
19,Elijiah Gray,N/A- too early to review,3.0,23.0,13.0
20,Elijiah Gray,Needs Improvement,1.0,23.0,4.0
21,Elisa Bramante,Exceeds,2.0,14.0,14.0
22,Elisa Bramante,Fully Meets,10.0,14.0,71.0
23,Elisa Bramante,Needs Improvement,2.0,14.0,14.0
24,Kelley Spirea,90-day meets,3.0,22.0,14.0
25,Kelley Spirea,Exceeds,3.0,22.0,14.0
26,Kelley Spirea,Fully Meets,15.0,22.0,68.0
27,Kelley Spirea,N/A- too early to review,1.0,22.0,5.0
28,Ketsia Liebig,90-day meets,2.0,21.0,10.0
29,Ketsia Liebig,Exceeds,2.0,21.0,10.0
30,Ketsia Liebig,Fully Meets,14.0,21.0,67.0
31,Ketsia Liebig,N/A- too early to review,2.0,21.0,10.0
32,Ketsia Liebig,Needs Improvement,1.0,21.0,5.0
33,Kissy Sullivan,90-day meets,3.0,22.0,14.0
34,Kissy Sullivan,Exceeds,1.0,22.0,5.0
35,Kissy Sullivan,Exceptional,1.0,22.0,5.0
36,Kissy Sullivan,Fully Meets,14.0,22.0,64.0
37,Kissy Sullivan,N/A- too early to review,1.0,22.0,5.0
38,Kissy Sullivan,Needs Improvement,1.0,22.0,5.0
39,Kissy Sullivan,PIP,1.0,22.0,5.0
40,Michael Albert,90-day meets,1.0,23.0,4.0
41,Michael Albert,Exceeds,2.0,23.0,9.0
42,Michael Albert,Fully Meets,10.0,23.0,43.0
43,Michael Albert,N/A- too early to review,6.0,23.0,26.0
44,Michael Albert,Needs Improvement,3.0,23.0,13.0
45,Michael Albert,PIP,1.0,23.0,4.0
46,Webster Butler,90-day meets,3.0,21.0,14.0
47,Webster Butler,Exceeds,2.0,21.0,10.0
48,Webster Butler,Fully Meets,11.0,21.0,52.0
49,Webster Butler,N/A- too early to review,3.0,21.0,14.0
50,Webster Butler,Needs Improvement,2.0,21.0,10.0

## Выводы по гипотезе 1: 
Видим, что оценка производительности труда сотрудников у разных менеджеров отличается.

Так, исключительные сотрудники есть у менеджера Brannon Miller таких сотрудников 10%, а у Amy Dunn и Kissy Sullivan таких 5%.

Кроме того у Brannon Miller 24% сотрудников первышают возложенные ожидания. Однако у Brannon Miller 24% сотрудников работают хуже, чем требуется. Возможно, Brannon Miller части сотрудников уделяет недостаточно внимания.

Подобную ситуацию видим у Elisa Bramante: 14% превосходят ожидания против 14% нуждающихся в улучшении.

У остальных менеджеров видим более сбалансированную ситуацию, однако видим меньше и выдащихся сотрудников.

Нет отстающих сотрудников у менеджеров: David Stanley и Kelley Spirea. В целом, нет менеджеров, которые в среднем были бы значительно хуже других. Но стоит разобраться, в чём причины перекоса между преуспевающими и отстающими сотрудниками у Brannon Miller и Elisa Bramante.

# Гипотеза 2: 
## Есть зависимость между продолжительностью работы в компании и семейным положением сотрудника.

In [40]:
# Произведём группировку таблицы "hr_dataset" по столбцу "marriedid" (где 1 - в браке, 0 - не в браке) 
# с подсчётом среднего количества дней работы в компании ("Days Employed"):

connect = engine.connect()

df2 = pd.read_sql(""" SELECT marriedid, ROUND(AVG("Days Employed")) AS "Mean Count Days Employed" FROM hr_dataset 
                    GROUP BY marriedid; """, connect)

connect.close()

## Зависимость между продолжительностью работы в компании и семейным положением сотрудника:

In [41]:
df2

   marriedid  Mean Count Days Employed
0          0                    1329.0
1          1                    1246.0

## Выводы по гипотезе 2: 
Видим, что значительной зависимости между продолжительностью работы и наличием супруга нет.

# Гипотеза 3: 
## Есть зависимость между продолжительностью работы в компании и возрастом сотрудника.

In [5]:
# Создадим столбец "Range of age" и произведём по нему группировку таблицы "hr_dataset"
# с подсчётом среднего количества дней работы в компании ("Days Employed"):

connect = engine.connect()

df3 = pd.read_sql(""" SELECT CASE WHEN 25 <= age AND age <= 30 THEN '25-30'
                    WHEN 30 < age AND age <= 35 THEN '31-35'
                    WHEN 35 < age AND age <= 40 THEN '36-40'
                    WHEN 40 < age AND age <= 45 THEN '41-45'
                    WHEN 45 < age AND age <= 50 THEN '46-50'
                    WHEN 50 < age AND age <= 55 THEN '51-55'
                    WHEN 55 < age AND age <= 60 THEN '56-60'
                    WHEN 60 < age AND age <= 65 THEN '61-65'
                    ELSE '66-70'
                    END AS "Range of age",
                    ROUND(AVG("Days Employed")) AS "Mean Count Days Employed" FROM hr_dataset 
                    GROUP BY "Range of age" 
                    ORDER BY "Range of age"; """, connect)

connect.close()

## Зависимость между продолжительностью работы в компании и возрастом сотрудника:

In [6]:
df3

  Range of age  Mean Count Days Employed
0        25-30                    1284.0
1        31-35                    1216.0
2        36-40                    1418.0
3        41-45                    1264.0
4        46-50                    1449.0
5        51-55                    1262.0
6        56-60                    1439.0
7        61-65                    1024.0
8        66-70                    1101.0

## Выводы по гипотезе 3:
Видим, что до 60 лет в среднем средняя продолжительность работы в компании варьируется от 1200 до 1450 дней. После 60 лет показатель падает до 1000-1100 дней. Люди уходят на пенсию.

# Гипотеза 4: 
## Есть зависимость между количеством сотрудников, сменивших позицию в компании, и тем, под чьим руководством работал сотрудник.

In [44]:
connect = engine.connect()

df4 = pd.read_sql(""" SELECT "Manager Name", COUNT(*) AS "Count of new position Employee" FROM hr_dataset 
                    WHERE "Reason For Term"='Another position' 
                    GROUP BY "Manager Name"; """, connect)

connect.close()

## Зависимость между количеством сотрудников, сменивших позицию в компании, и тем, под чьим руководством работал сотрудник:

In [9]:
df4

       Manager Name  Count of new position Employee
0     Ketsia Liebig                               1
1        John Smith                               1
2          Amy Dunn                               1
3    Brannon Miller                               1
4    Webster Butler                               2
5        Janet King                               2
6    Michael Albert                               1
7      Elijiah Gray                               2
8   Alex Sweetwater                               1
9     David Stanley                               3
10       Simon Roup                               1
11   Kissy Sullivan                               3
12    Kelley Spirea                               1

## Выводы по гипотезе 4:
Видим, что нет менеджеров, у которых сотрудники меняли бы позицию значительно чаще, чем у других.

# Гипотеза 5: 
## Есть зависимость между количеством сотрудников, ушедших из компании, и тем, под чьим руководством работал сотрудник.

In [45]:
connect = engine.connect()

df5_1 = pd.read_sql(""" SELECT "Manager Name", COUNT(*) AS "Count of retire Employee" 
                    FROM hr_dataset
                    WHERE "Reason For Term" NOT IN ('Another position', 'N/A - still employed', 'N/A - Has not started yet')
                    GROUP BY "Manager Name"; """, connect)

## Зависимость между количеством сотрудников, ушедших из компании, и тем, под чьим руководством работал сотрудник:

In [11]:
df5_1

          Manager Name  Count of retire Employee
0       Michael Albert                         8
1           Simon Roup                         7
2           John Smith                         2
3             Amy Dunn                        12
4       Brannon Miller                         5
5       Webster Butler                        11
6   Brandon R. LeBlanc                         1
7           Janet King                         4
8         Elijiah Gray                         6
9      Alex Sweetwater                         2
10       David Stanley                         3
11        Peter Monroe                         1
12     Jennifer Zamora                         1
13       Kelley Spirea                         5
14      Kissy Sullivan                         9
15       Ketsia Liebig                         4
16      Debra Houlihan                         1

## Вывод 1 по гипотезе 5:
Видим, что чаще всего сотрудники уходят у менеджеров Amy Dunn и Webster Butler.

Возможно, что у данных менеджеров работа выстроена не совсем правильно. Есть необходимость провести дальнейшее исседование, выяснить, по каким причинам у них уходили сотрудники.

In [46]:
df5_2 = pd.read_sql(""" SELECT "Manager Name", "Reason For Term" FROM hr_dataset
                    WHERE "Reason For Term" NOT IN ('Another position', 'N/A - still employed', 'N/A - Has not started yet')
                    AND "Manager Name" IN('Amy Dunn', 'Webster Butler')
                    ORDER BY "Manager Name", "Reason For Term"; """, connect)

connect.close()

## Причины ухода сотрудников у менеджеров Amy Dunn и Webster Butler:

In [47]:
df5_2

      Manager Name         Reason For Term
0         Amy Dunn              attendance
1         Amy Dunn                   hours
2         Amy Dunn                   hours
3         Amy Dunn          medical issues
4         Amy Dunn              more money
5         Amy Dunn              more money
6         Amy Dunn  relocation out of area
7         Amy Dunn        return to school
8         Amy Dunn                 unhappy
9         Amy Dunn                 unhappy
10        Amy Dunn                 unhappy
11        Amy Dunn                 unhappy
12  Webster Butler           career change
13  Webster Butler                   hours
14  Webster Butler                military
15  Webster Butler                military
16  Webster Butler                military
17  Webster Butler              more money
18  Webster Butler                retiring
19  Webster Butler        return to school
20  Webster Butler        return to school
21  Webster Butler                 unhappy
22  Webster Butler                 unhappy

## Вывод 2 по гипотезе 5:
Видим, что довольно часто причиной увольнения является "unhappy", особенно у Amy Dunn (30% случаев). 

Возможно, что в работе недостаточно творческой составляющей, работа является слишком монотонной. И над этим стоит поработать. Может стоит расширить специализацию сотрудников, чтобы деятельность была более разнообразной. Уход человека в другую сферу деятельности также может быть связан с тем, что людям неинтересно работать. 

Недостаточная оплата и перегруженность связанные понятия, возможно, что для тех, кто перерабатывает нужно поискать возможность разгрузки, а для тех, кому мало денег, дать возможность подработки.

# Гипотеза 6: 
## Есть зависимость продолжительности работы сотрудников от источника их найма "Employee Source".

In [48]:
connect = engine.connect()

df6 = pd.read_sql(""" SELECT "Employee Source", 
                    ROUND(AVG("Days Employed")) AS "Mean Count Days Employed", 
                    COUNT(*) AS "Count of Employee"
                    FROM hr_dataset
                    GROUP BY "Employee Source"
                    ORDER BY "Mean Count Days Employed" DESC; """, connect)

connect.close()

## Зависимость продолжительности работы сотрудников от источника их найма "Employee Source":

In [49]:
df6

,Employee Source,Mean Count Days Employed,Count of Employee
0,Careerbuilder,2428.0,1
1,Other,1910.0,9
2,Billboard,1681.0,16
3,MBTA ads,1580.0,17
4,Information Session,1552.0,4
5,Website Banner Ads,1471.0,13
6,Professional Society,1417.0,20
7,Monster.com,1403.0,24
8,Diversity Job Fair,1340.0,29
9,Search Engine - Google Bing Yahoo,1325.0,25
10,Pay Per Click - Google,1287.0,21
11,Internet Search,1274.0,6
12,Employee Referral,1252.0,31
13,On-campus Recruiting,1214.0,12
14,Newspager/Magazine,1194.0,18
15,Glassdoor,1135.0,14
16,Social Networks - Facebook Twitter etc,1083.0,11
17,Word of Mouth,1023.0,13
18,Vendor Referral,1022.0,15
19,Company Intranet - Partner,444.0,1
20,Indeed,308.0,8
21,On-line Web application,194.0,1
22,Pay Per Click,2.0,1

## Выводы по гипотезе 6:
Видим, что с ресурса "Careerbuilder" пришёл самый долго работающий сотрудник. По одному случаю конечно статистику не составишь, но к ресурсу можно присмотреться, как и к другим ресурсам с хорошим показателем продолжительности работы сотрудника.

# Гипотеза 7: 
## Есть зависимость успешности сотрудников от источника их найма "Employee Source".

In [51]:
# Произведём объединение таблиц "hr_dataset" и "production_staff", 
# чтобы сопоставить данные о "Performance Score" и "Employee Source" 
# и создадим временную таблицу для дальнейшего анализа:

engine.execute(""" DROP TABLE IF EXISTS Employee_Source_and_Performance_Score; """)

engine.execute(""" CREATE TEMPORARY TABLE Employee_Source_and_Performance_Score
                AS SELECT hr_dataset."Employee Name",
                hr_dataset."Employee Source",
                production_staff."Performance Score"
                FROM hr_dataset JOIN production_staff 
                ON hr_dataset."Employee Name" = production_staff."Employee Name"; """)

# Теперь выясним, зависит ли успешность сотрудников от источника их найма:

connect = engine.connect()

df7 = pd.read_sql(""" SELECT "Performance Score", "Employee Source", COUNT(*) AS "Count of Employee"
                    FROM Employee_Source_and_Performance_Score
                    WHERE "Performance Score" NOT IN ('90-day meets', 'N/A- too early to review')
                    GROUP BY "Performance Score", "Employee Source"
                    ORDER BY "Performance Score", "Count of Employee" DESC; """, connect)

connect.close()

## Зависимость успешности сотрудников от источника их найма "Employee Source":

In [23]:
df7

,Performance Score,Employee Source,Count of Employee
0,Exceeds,Professional Society,3
1,Exceeds,Diversity Job Fair,3
2,Exceeds,Pay Per Click - Google,3
3,Exceeds,MBTA ads,3
4,Exceeds,Employee Referral,2
5,Exceeds,Monster.com,2
6,Exceeds,Information Session,1
7,Exceeds,Social Networks - Facebook Twitter etc,1
8,Exceeds,On-campus Recruiting,1
9,Exceeds,Search Engine - Google Bing Yahoo,1
10,Exceeds,Website Banner Ads,1
11,Exceeds,Glassdoor,1
12,Exceptional,Employee Referral,1
13,Exceptional,MBTA ads,1
14,Exceptional,Billboard,1
15,Exceptional,Professional Society,1
16,Fully Meets,Search Engine - Google Bing Yahoo,17
17,Fully Meets,Employee Referral,10
18,Fully Meets,Billboard,9
19,Fully Meets,Newspager/Magazine,9
20,Fully Meets,On-campus Recruiting,9
21,Fully Meets,Monster.com,8
22,Fully Meets,Word of Mouth,8
23,Fully Meets,MBTA ads,8
24,Fully Meets,Diversity Job Fair,8
25,Fully Meets,Glassdoor,7
26,Fully Meets,Pay Per Click - Google,6
27,Fully Meets,Professional Society,5
28,Fully Meets,Vendor Referral,4
29,Fully Meets,Social Networks - Facebook Twitter etc,4
30,Fully Meets,Internet Search,3
31,Fully Meets,Website Banner Ads,2
32,Fully Meets,Careerbuilder,1
33,Fully Meets,On-line Web application,1
34,Fully Meets,Other,1
35,Fully Meets,Information Session,1
36,Needs Improvement,Monster.com,3
37,Needs Improvement,MBTA ads,2
38,Needs Improvement,Search Engine - Google Bing Yahoo,1
39,Needs Improvement,Diversity Job Fair,1
40,Needs Improvement,Glassdoor,1
41,Needs Improvement,Word of Mouth,1
42,Needs Improvement,Pay Per Click - Google,1
43,Needs Improvement,Other,1
44,PIP,Professional Society,2
45,PIP,Billboard,1
46,PIP,Pay Per Click - Google,1
47,PIP,Search Engine - Google Bing Yahoo,1
48,PIP,Diversity Job Fair,1
49,PIP,MBTA ads,1

## Выводы по гипотезе 7:
Наибольшее количество сотрудников (17) с "Performance Score" "Fully Meets" пришло с ресурса "Search Engine - Google Bing Yahoo". Также с него пришёл один сотрудник "Exceeds".

Кроме того можно обратить внимание на ресурсы, откуда пришли сотрудники "Exceptional" и максимальное количество (3) сотрудников "Exceeds".

# Гипотеза 8: 
## Есть зависимость между полом и продолжительностью работы сотрудника.

In [52]:
# Произведём группировку таблицы "hr_dataset" по столбцу "sex" 
# с подсчётом среднего количества дней работы в компании ("Days Employed"):

connect = engine.connect()

df8 = pd.read_sql(""" SELECT sex, ROUND(AVG("Days Employed")) AS "Mean Count Days Employed" 
                    FROM hr_dataset GROUP BY sex; """, connect)

connect.close()

## Зависимость между полом и продолжительностью работы сотрудника:

In [53]:
df8

      sex  Mean Count Days Employed
0  Female                    1313.0
1    Male                    1273.0

## Выводы по гипотезе 8:
Очевидно, что пол сотрудника не влияет на продолжительность его работы в компании.

# Гипотеза 9: 
## Есть зависимость между полом и успешностью сотрудника.

In [54]:
# Создадим временную таблицу, в которую запишем данные и поле сотрудников, успешности в работе и количестве таких сотрудников:

engine.execute(""" DROP TABLE IF EXISTS sex_and_Performance_Score; """)

engine.execute(""" CREATE TEMPORARY TABLE sex_and_Performance_Score
                AS SELECT "sex", "Performance Score", COUNT(*) AS "Count of Employee"
                FROM hr_dataset
                WHERE "Performance Score" NOT IN ('90-day meets', 'N/A- too early to review')
                GROUP BY "sex", "Performance Score"
                ORDER BY "sex", "Performance Score"; """)

# Заменим тип столбца "Count of Employee" на FLOAT:

engine.execute(""" ALTER TABLE sex_and_Performance_Score ALTER COLUMN "Count of Employee" TYPE FLOAT(6); """)

# Создадим временную таблицу, в которую запишем данные об общем количестве мужчин и женщин 
# с каждым статусом "Performance Score", кроме '90-day meets' и 'N/A- too early to review':

engine.execute(""" DROP TABLE IF EXISTS sex_and_Performance_Score_2; """)

engine.execute(""" CREATE TEMPORARY TABLE sex_and_Performance_Score_2
                AS SELECT "sex", COUNT(*) AS "Total_Count of Employee"
                FROM hr_dataset
                WHERE "Performance Score" NOT IN ('90-day meets', 'N/A- too early to review')
                GROUP BY "sex"; """)

# Произведём объединение двух таблиц:

engine.execute(""" DROP TABLE IF EXISTS full_sex_and_Performance_Score; """)

engine.execute(""" CREATE TEMPORARY TABLE full_sex_and_Performance_Score
                AS SELECT sex_and_Performance_Score.sex,
                sex_and_Performance_Score."Performance Score",
                sex_and_Performance_Score."Count of Employee",
                sex_and_Performance_Score_2."Total_Count of Employee",
                ROUND("Count of Employee"/"Total_Count of Employee"*100) AS "Persent of Employee for every Score"
                FROM sex_and_Performance_Score JOIN sex_and_Performance_Score_2
                ON sex_and_Performance_Score.sex = sex_and_Performance_Score_2.sex; """)

connect = engine.connect()

df9 = pd.read_sql(""" SELECT * FROM full_sex_and_Performance_Score; """, connect)

connect.close()

## Зависимость между полом и успешностью сотрудника:

In [55]:
df9

,sex,Performance Score,Count of Employee,Total_Count of Employee,Persent of Employee for every Score
0,Female,PIP,5.0,132,4.0
1,Female,Needs Improvement,5.0,132,4.0
2,Female,Fully Meets,101.0,132,77.0
3,Female,Exceptional,5.0,132,4.0
4,Female,Exceeds,16.0,132,12.0
5,Male,PIP,4.0,110,4.0
6,Male,Needs Improvement,10.0,110,9.0
7,Male,Fully Meets,80.0,110,73.0
8,Male,Exceptional,4.0,110,4.0
9,Male,Exceeds,12.0,110,11.0

## Выводы по гипотезе 9:
Видим, что нет значительной зависимости успешности работы сотрудника от его пола.

# Гипотеза 10: 
## Есть зависимость между успешностью сотрудника и временем работы в компании.

In [56]:
connect = engine.connect()

df10 = pd.read_sql(""" SELECT "Performance Score", ROUND(AVG("Days Employed"))
                    FROM hr_dataset
                    WHERE "Performance Score" NOT IN ('90-day meets', 'N/A- too early to review')
                    GROUP BY "Performance Score"; """, connect)

connect.close()

## Зависимость между успешностью сотрудника и временем работы в компании:

In [57]:
df10

   Performance Score   round
0                PIP  1427.0
1        Exceptional  1701.0
2        Fully Meets  1406.0
3  Needs Improvement  1366.0
4            Exceeds  1627.0

## Выводы по гипотезе 10:
Видим, что наиболее успешные сотрудники в среднем работают дольше, чем остальные.

# 11:
## Выясним, на сколько эффективно расходуются средства на поиск сотрудников. То есть, посмотрим, как соотносятся расходы на ресурсы для поиска сотрудников и эффективность их работы.

In [58]:
# Произведём объединение таблиц "hr_dataset" и "production_staff", 
# чтобы сопоставить данные о "Performance Score" и "Employee Source" 
# и создадим временную таблицу для дальнейшего анализа:

engine.execute(""" DROP TABLE IF EXISTS Employee_Source_and_Performance_Score; """)

engine.execute(""" CREATE TEMPORARY TABLE Employee_Source_and_Performance_Score
                AS SELECT hr_dataset."Employee Name",
                hr_dataset."Employee Source",
                production_staff."Performance Score"
                FROM hr_dataset JOIN production_staff 
                ON hr_dataset."Employee Name" = production_staff."Employee Name"; """)

# Создадим временную таблицу на основе "DROP TABLE IF EXISTS Employee_Source_and_Performance_Score",
# в которую запишем данные о количестве нанятых работников с каждого ресурса, трудящихся с определённой эффективностью:

engine.execute(""" DROP TABLE IF EXISTS Employee_Source_and_Performance_Score_2; """)

engine.execute(""" CREATE TEMPORARY TABLE Employee_Source_and_Performance_Score_2
                AS SELECT "Employee Source", "Performance Score", COUNT(*) AS "Count of Employee"
                FROM Employee_Source_and_Performance_Score
                WHERE "Performance Score" NOT IN ('90-day meets', 'N/A- too early to review')
                GROUP BY "Employee Source", "Performance Score"
                ORDER BY "Employee Source", "Performance Score" DESC; """)

# Создадим временную таблицу, в которую запишем данные об общем количестве нанятых работников с каждого ресурса:

engine.execute(""" DROP TABLE IF EXISTS Employee_Source_and_Performance_Score_3; """)

engine.execute(""" CREATE TEMPORARY TABLE Employee_Source_and_Performance_Score_3
                AS SELECT "Employee Source", COUNT(*) AS "Total Count of Employee"
                FROM Employee_Source_and_Performance_Score
                WHERE "Performance Score" NOT IN ('90-day meets', 'N/A- too early to review')
                GROUP BY "Employee Source"
                ORDER BY "Employee Source" DESC; """)

# Объединим первые 2 таблицы:

engine.execute(""" DROP TABLE IF EXISTS Employee_Source_and_Performance_Score_4; """)

engine.execute(""" CREATE TEMPORARY TABLE Employee_Source_and_Performance_Score_4
                AS SELECT Employee_Source_and_Performance_Score_2."Employee Source",
                Employee_Source_and_Performance_Score_2."Performance Score",
                Employee_Source_and_Performance_Score_2."Count of Employee",
                Employee_Source_and_Performance_Score_3."Total Count of Employee"
                FROM Employee_Source_and_Performance_Score_2 JOIN Employee_Source_and_Performance_Score_3
                ON Employee_Source_and_Performance_Score_2."Employee Source" = Employee_Source_and_Performance_Score_3."Employee Source"; """)

# Добавим в последнюю таблицу данные о годовых расходах на ресурсы по найму.
# Также добавим столбец с баллами, 
# где 0 введён для "PIP" и "Needs Improvement", 1 для "Fully Meets" и 2 для "Exceeds" и "Exceptional":

engine.execute(""" DROP TABLE IF EXISTS Performance_Score_Employee_Source_and_Costs; """)

engine.execute(""" CREATE TEMPORARY TABLE Performance_Score_Employee_Source_and_Costs
                AS SELECT Employee_Source_and_Performance_Score_4."Employee Source",
                Employee_Source_and_Performance_Score_4."Performance Score",
                Employee_Source_and_Performance_Score_4."Count of Employee",
                Employee_Source_and_Performance_Score_4."Total Count of Employee",
                recruiting_costs."Total" AS "Total Cost",
                CASE WHEN Employee_Source_and_Performance_Score_4."Performance Score"='PIP' 
                OR Employee_Source_and_Performance_Score_4."Performance Score"='Needs Improvement' THEN 0 
                ELSE (CASE WHEN Employee_Source_and_Performance_Score_4."Performance Score"='Fully Meets' THEN 1 ELSE 2 END) END AS "Mark for Score"
                FROM Employee_Source_and_Performance_Score_4 JOIN recruiting_costs
                ON Employee_Source_and_Performance_Score_4."Employee Source" = recruiting_costs."Employment Source"; """)

# Дальнейшие расчёты будем вести только для платных ресурсов, поскольку бесплатные явно дают пользу и являются полезными.
# Сгруппируем данные по ресурсам, чтобы определить так называемый возврат средств за рейтинг:

engine.execute(""" DROP TABLE IF EXISTS Total_Cost_and_Refund; """)

engine.execute(""" CREATE TEMPORARY TABLE Total_Cost_and_Refund
                AS SELECT "Employee Source", 
                ROUND(AVG("Total Cost")) AS "Total Cost",
                SUM("Count of Employee"*"Mark for Score"*"Total Cost"/"Total Count of Employee") AS "Refund for Score"
                FROM Performance_Score_Employee_Source_and_Costs
                WHERE "Total Cost" NOT IN (0)
                GROUP BY "Employee Source"; """)

# Наконец определим, насколько эффективно расходуются средства на различных ресурсах:

connect = engine.connect()

df11 = pd.read_sql(""" SELECT "Employee Source", 
                    "Total Cost", 
                    "Refund for Score", 
                    ROUND("Refund for Score"/"Total Cost"*100) AS "Source Effectivity"
                    FROM Total_Cost_and_Refund
                    ORDER BY "Source Effectivity" DESC; """, connect)

connect.close()

## Эффективность расходования средств на поиск сотрудников:

In [59]:
df11

,Employee Source,Total Cost,Refund for Score,Source Effectivity
0,Website Banner Ads,7143.0,9524.0,133.0
1,Social Networks - Facebook Twitter etc,5573.0,6687.0,120.0
2,Professional Society,1200.0,1417.0,118.0
3,On-campus Recruiting,7500.0,8250.0,110.0
4,Pay Per Click - Google,3509.0,3828.0,109.0
5,Diversity Job Fair,10021.0,10791.0,108.0
6,MBTA ads,10980.0,11712.0,107.0
7,Billboard,6192.0,6191.0,100.0
8,Newspager/Magazine,8291.0,8291.0,100.0
9,Careerbuilder,7790.0,7790.0,100.0
10,Search Engine - Google Bing Yahoo,5183.0,4923.0,95.0
11,Monster.com,5760.0,5316.0,92.0
12,Other,3995.0,1997.0,50.0

## Выводы:
Таким образом, мы выяснили, что наиболее эффективно средства расходуются на платных ресурсах: Website Banner Ads, Social Networks - Facebook Twitter etc, Professional Society и On-campus Recruiting. Проверив полученный рейтинг по таблице "Performance_Score_Employee_Source_and_Costs" видим, что все сотрудники с данных ресурсов трудятся эффективно.